html{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
body{
    height: 100vh;
    width: 100vw;
    color: #6A707B;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    margin: 0;
    padding: 0;
    background: url(../images/background.png) no-repeat right top;
}
button:hover{
    cursor: pointer;
}
h1{
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 44px;
    /* identical to box height, or 137% */
    color: #131821;
    margin: 0px 140px;
}
h2{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    margin: 0px 140px;
    margin-top: 15px;
    /* or 175% */
    color: #6A707B;
}

.main{
    transition: all ease 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 680px;
    height: 100%;
    margin: 0;
    background: linear-gradient(180deg, #FFFFFF 0%, #F2F5FA 100%);
}



.navbar{
    margin-top: 108px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navbar a{
    color: #6A707B;
    text-decoration: none;
    margin-right: 30px;
}
.navbar a:last-child{
    margin-right: 0px;
}

img#logo{
    height: 40px;
    width: auto;
    margin-right: 15px;
    transform: translateY(-8px);

}
img#brand_title{
    height: 16px;
    width: auto;
}
.brand{
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;

}
.links{
    margin-right: 100px;
}

.content{
    width: 100%;
    margin-top: 234px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 70px;
    width: 663px;
    margin-left: 100px;
    background: #FFFFFF;
    border: 1px solid #E3E3E4;
    box-sizing: border-box;
    border-left: solid 4px #4066A5;
}
button[type=submit]{
    width: 83px;
    padding-right: 40px;
    background-color: rgb(0, 0, 0,0);
    border: none;
    float:right;
    text-align: center;
}

.checkbox{
    margin-left: 140px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.checkbox input{
    margin-right: 15px;
    width: 26px;
    height: 26px;
    
}
.checkbox a{
    color: black;
}

input[type=email]{
    padding-left: 40px;
    border: none;
    width: 100%;

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #131821;
}
input[type=email]:focus{
    padding-left: 40px;
    outline: none;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0,0);
    box-shadow: 0px 30px 40px rgba(19, 24, 33, 0.06);
    color: #131821;
}
form:hover{
    border-left: solid 4px #4066A5;
    border-right: 1px solid #4066A5;
    border-top: 1px solid #4066A5;
    border-bottom: 1px solid #4066A5;
    box-sizing: border-box;
    box-shadow: 0px 30px 40px rgba(19, 24, 33, 0.06);
}

input[type=email]::placeholder{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    height: 24px;
    
    
    /* identical to box height, or 150% */
    
    
    color: #6A707B;
}
.footer{
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer img{
    margin-right: 20px;
    padding: 0;
}

hr{
    margin-top: 50px;
    margin-right: 140px;
    margin-left: 140px;
    color: #E3E3E4;
    margin-bottom: 0px;
}
@media screen and (max-width: 680px) {
    html,body{
        overflow: hidden;
    }
    .main {
        overflow: hidden;
        width: 100%;
        height: 100%; 
        background: url(../images/background.png) no-repeat round;

    }
    h1{
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 34px;
        /* identical to box height, or 142% */
        margin-top: 30px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 10px;
        
        color: #131821;
    }
    h2{
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 26px;
        /* or 186% */
        margin-left: 20px;
        margin-right: 20px;
        
        
        color: #6A707B;
    }
     
    .navbar{
        margin-top:0px;
        padding-top:10px;
        padding-bottom: 16px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
    }
    .navbar a{
        margin-right: 20px;
    }
    .navbar a:last-child{
        margin-right: 0px;
    }
    .links{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-right: 20px;
    }
    
    img#logo{
        height: 40px;
        width: auto;
        margin-right: 15px;
    }
    img#brand_title{
        display: none;
    }
    .brand{
        margin-left: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
    
    }
    
    .content{
        width: 100%;
        margin-top: 188px;
        margin-bottom: 188px;
        display: flex;
        flex-direction: column;
        width: 335px;
        height: auto;
        border: 1px solid black;
        background: linear-gradient(180deg, #FFFFFF 0%, #F2F5FA 100%);
    }
    form{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 20px;
        width: 295px;
        height: 60px;
        margin-left: 20px;
        margin-right: 20px;
    }
    button[type=submit]{

        padding-right: 10px;
        background-color: rgb(0, 0, 0,0);
        border: none;
        float:right;
        text-align: center;
    }
    .checkbox{
        margin-left: 20px;
        
    }
    .checkbox input{
        margin-right: 15px;
    }
    .checkbox a{
        color: black;
    }
    
    input[type=email]{
        padding-left: 15px;
        border: none;
        width: 100%;
    
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
    /* identical to box height, or 150% */
    
    
    color: #131821;
    }
    input[type=email]:focus{
        padding-left: 19px;
    }
    form:hover{
        border-left: solid 4px #4066A5;
        border-right: 1px solid #4066A5;
        border-top: 1px solid #4066A5;
        border-bottom: 1px solid #4066A5;
        box-sizing: border-box;
        box-shadow: 0px 30px 40px rgba(19, 24, 33, 0.06);
    }

    
    .footer{
        width: 100%;
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 30px ;
    }
    .footer img{
        margin-right: 10px;
    }
    
    hr{
        margin-top: 20px;
        margin-right: 20px;
        margin-left: 20px;
    }
    img#logo{
        margin-top: 8px;
    }
    
}
@media screen and (max-height: 837px){
    .content{
        margin: auto;
    }
    .navbar{
        margin-top: 0px;
        padding-top: 10px;
    }
    
}
